<launch>

  <arg name="scanVoxelSize" default="0.05"/>
  <arg name="decayTime" default="1.2"/>
  <arg name="noDecayDis" default="0.5"/>
  <arg name="clearingDis" default="3.0"/>
  <arg name="useSorting" default="true"/>
  <arg name="quantileZ" default="0.30"/>
  <arg name="considerDrop" default="false"/>
  <arg name="limitGroundLift" default="false"/>
  <arg name="maxGroundLift" default="0.10"/>
  <arg name="clearDyObs" default="false"/>
  <arg name="minDyObsDis" default="0.2"/>
  <arg name="minDyObsAngle" default="0.0"/>
  <arg name="minDyObsRelZ" default="-0.3"/>
  <arg name="absDyObsRelZThre" default="0.2"/>
  <arg name="minDyObsVFOV" default="-16.0"/>
  <arg name="maxDyObsVFOV" default="16.0"/>
  <arg name="minDyObsPointNum" default="1"/>
  <arg name="noDataObstacle" default="false"/>
  <arg name="noDataBlockSkipNum" default="2"/>
  <arg name="minBlockPointNum" default="8"/>
  <arg name="maxElevBelowVeh" default="-0.6"/>
  <arg name="noDataAreaMinX" default="0.15"/>
  <arg name="noDataAreaMaxX" default="1.0"/>
  <arg name="noDataAreaMinY" default="-0.5"/>
  <arg name="noDataAreaMaxY" default="0.5"/>
  <arg name="vehicleHeight" default="0.366"/>
  <arg name="voxelPointUpdateThre" default="100"/>
  <arg name="voxelTimeUpdateThre" default="2.0"/>
  <arg name="minRelZ" default="-1.2"/>
  <arg name="maxRelZ" default="0.35"/>
  <arg name="disRatioZ" default="0.12"/>

  <node pkg="terrain_analysis" exec="terrainAnalysis" name="terrainAnalysis" output="screen">
    <param name="scanVoxelSize" value="$(var scanVoxelSize)" />
    <param name="decayTime" value="$(var decayTime)" />
    <param name="noDecayDis" value="$(var noDecayDis)" />
    <param name="clearingDis" value="$(var clearingDis)" />
    <param name="useSorting" value="$(var useSorting)" />
    <param name="quantileZ" value="$(var quantileZ)" />
    <param name="considerDrop" value="$(var considerDrop)" />
    <param name="limitGroundLift" value="$(var limitGroundLift)" />
    <param name="maxGroundLift" value="$(var maxGroundLift)" />
    <param name="clearDyObs" value="$(var clearDyObs)" />
    <param name="minDyObsDis" value="$(var minDyObsDis)" />
    <param name="minDyObsAngle" value="$(var minDyObsAngle)" />
    <param name="minDyObsRelZ" value="$(var minDyObsRelZ)" />
    <param name="absDyObsRelZThre" value="$(var absDyObsRelZThre)" />
    <param name="minDyObsVFOV" value="$(var minDyObsVFOV)" />
    <param name="maxDyObsVFOV" value="$(var maxDyObsVFOV)" />
    <param name="minDyObsPointNum" value="$(var minDyObsPointNum)" />
    <param name="noDataObstacle" value="$(var noDataObstacle)" />
    <param name="noDataBlockSkipNum" value="$(var noDataBlockSkipNum)" />
    <param name="minBlockPointNum" value="$(var minBlockPointNum)" />
    <param name="maxElevBelowVeh" value="$(var maxElevBelowVeh)" />
    <param name="noDataAreaMinX" value="$(var noDataAreaMinX)" />
    <param name="noDataAreaMaxX" value="$(var noDataAreaMaxX)" />
    <param name="noDataAreaMinY" value="$(var noDataAreaMinY)" />
    <param name="noDataAreaMaxY" value="$(var noDataAreaMaxY)" />
    <param name="vehicleHeight" value="$(var vehicleHeight)" />
    <param name="voxelPointUpdateThre" value="$(var voxelPointUpdateThre)" />
    <param name="voxelTimeUpdateThre" value="$(var voxelTimeUpdateThre)" />
    <param name="minRelZ" value="$(var minRelZ)" />
    <param name="maxRelZ" value="$(var maxRelZ)" />
    <param name="disRatioZ" value="$(var disRatioZ)" />
  </node>

</launch>
